/* Header menu navigation responsive web */

header {
	width: 100%;
}

.nav-web {
	position: fixed;
	z-index: 10000;
}

.resp {
	width: 100%;
	height: 72px;
	background: #E55155;
	overflow: hidden;
	z-index: 10000000000000000 !important;
	position: relative;
}

.logo-web {
	align-items: center;
	margin-left: 24px;
	float: left;
	margin-top: 12px;
}

.logo-web img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	float: left;
}

.logo-web h3 {
	height: 72px;
	margin-left: 24px;
	cursor: pointer;
	transform: translateY(19%);
	float: left;
}

.navi {
	overflow: hidden;
	float: right;
	display: inline;
	margin-top: 4px;
}

.navi h4 {
	margin: 24px;
	cursor: pointer;
	float: left;
}

.pop-out{
   width: 100%;
   height: 700px;
   background: rgba(0,0,0,0.5);
}

.pop-up{
    width: 40%;
    height: 350px;
    background: #fff;
    margin-left: 30%;
    margin-top: 100px;
}

.pop-up-container{
    width: 90%;
    margin: 0 auto;
    padding: 16px;
}

.close-pop-up{
    cursor: pointer;
}

.register-with-mail{
    width: 100%;
    background: #E55155;
    margin-top: 20px;
    border: solid 1px #E55155;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    cursor: pointer;
}

.register-with-mail img{
    width: 15px;
    height: 15px;
    padding-right: 10px;
    margin-bottom: 16px;
}

.register-with-mail p{
    margin-bottom: 16px;
}

.register-with-google{
    width: 100%;
    padding-top: 14px;
    margin-top: 10px;
    display: flex;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.register-with-google p{
    margin-bottom: 16px;
}

.register-with-google img{
    width: 15px;
    height: 15px;
    padding-right: 10px;
    margin-bottom: 16px;
}

.bar{
    width: 100%;
    border-bottom: 2px solid #CCCCCC;
    margin: 0 auto;
    margin-top: 20px;

}

.pop-end{
    width: 40%;
    height: 500px;
    background: #fff;
    margin-left: 30%;
    margin-top: 20px;
    display: none;
    padding: 16px;
}

.pop-end img{
    cursor: pointer;
}

#formulaire{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

#formulaire input{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
}

.name{
    background-image: url(../img/ic_person_black_24dp/web/ic_person_black_24dp_1x.png);
    background-repeat: no-repeat;
    background-position: right;
}
.email{
    background-image: url('../img/ic_mail_outline_black_24dp/web/ic_mail_outline_black_24dp_1x.png');
    background-repeat: no-repeat;
    background-position: right;
}

.password{
    background-image: url('../img/Locker.png');
    background-repeat: no-repeat;
    background-position: right;
}

#formulaire p{
    margin-top: 20px;
    background: #E55155;
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.pop-end-content{
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.p-pop:hover{
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: 0.2s all;
}

.btn-pop{
    border: solid  2px #E55155;
    padding: 10px;
    cursor: pointer;
}
.btn-pop:hover{
    background: #E55155;
    color: #fff;
    -webkit-transition: 0.5s all;
}

.condition{
    width: 94%;
    margin: 0 auto;
    padding: 12px;
}

/* Boutton float */

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #bf4447;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
#floating-button h4{
    right: 70px;
    position: absolute;
    background: white;
    opacity: 0;
    top: 6px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0,0,0,0.32);
    transition: all 0.3s ease;
}

#container-floating:hover h4{
    opacity: 1;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}


#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}


#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #401718;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}
.nd1 h4{
    position: absolute;
    right: 50px;
    top: 5px;
    background: #fff;
    padding: 6px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0,0,0,0.32);
}

.nd3{
  background: #401718;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}
.nd3 h4{
    position: absolute;
    right: 50px;
    top: 5px;
    padding: 6px;
    border-radius: 6px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0,0,0,0.32);
}


@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{

  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}


/* video */

.content-height {
	height: 528px;
	overflow: hidden;
	position: relative;
}


/* image */

.content {
	width: 100%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}


/* Texte */

.content h2 {
	margin-bottom: 20px;
}

.content h4 {
	margin-top: 100Px;
}


/* barre de reservation */

.flex-search-box {
	display: flex;
	justify-content: center;
}

#search-box {
	align-items: center;
	display: flex;
	height: 64px;
	width: 960px;
	box-sizing: border-box;
	box-shadow: 0 8px 18px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	z-index: 100;
}

#ui-datepicker-div {
	z-index: 100000 !important;
}


/* choix animation */

.check-in {
	width: 400px;
	display: flex;
	padding: 16px;
	cursor: pointer;
	border-right: solid 1px grey;
}

.check-in img {
	padding-left: 30px;
}

.content-tog{
    width: 40%;
    height: 450px;
    background: #fff;
    margin-left: 30%;
    margin-top: 100px;
    display: flex;
}

.prev-arrow{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E55155;
}
.prev-arrow i{
    font-size: 4rem;
    cursor: pointer;
}

.next-arrow{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E55155;
}
.next-arrow i{
    font-size: 4rem;
    cursor: pointer;
}

.tog {
    width: 80%;
    margin: 0 auto;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    margin-top: 40px;
}

.second-selection{
    display: none;
}

.close-tog{
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}

.tog ul{
    margin-top: 20px;
}

.tog ul li{
    border: 1px solid black;
    background: whitesmoke;
    padding-top: 10px;
    margin: 10px;
    padding: 10px;
}

.tog ul li:hover{
    background: #E55155;
}


/* calendar */

.bordure {
	width: 360px;
	display: flex;
	padding-left: 24px;
	padding-right: 16px;
	padding-left: 16px;
}

.bordure img {
	padding-left: 90px;
}

#datepicker {
	cursor: pointer;
	margin-left: 10px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 10px;
	z-index: 1005;
}

#datepickerImage {
	cursor: pointer;
}


/* boutton resa */

.check-out {
	width: 200px;
	background-color: #E55155;
	height: 64px;
	cursor: pointer;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media all and (min-width: 750px) {
	.red-btn {
		display: none;
	}
	.logo-mobile {
		display: none;
	}
	.logo-mobile img {
		display: none;
	}
	.logo-mobile h3 {
		display: none;
	}
	.logo-mobile-burger {
		display: none;
	}
	.logo-mobile-burger h4 {
		display: none;
	}
	.logo-mobile-burger img {
		display: none;
	}
    .footer-burger{
        display: none;
    }
    .footer-burger p{
        display: none;
    }
    .content-burger{
        display: none;
    }
    .content-burger ul{
        display: none;
    }
    .content-burger ul li{
        display: none;
    }
    .cross{
        display: none;
    }
}

@media all and (max-width: 960px) {
	#search-box {
		display: none;
	}
}

@media all and (max-width: 750px) {
	/* élément qui disparaissent */
	#search-box {
		display: none;
	}
	.navi {
		display: none;
	}
	.logo-web {
		display: none;
	}
	video {
		display: none;
	}
	.videoheader {
		display: none;
	}
	/* Barre de nav */
	/* bg rouge */
	.nav-web {
		position: fixed;
		z-index: 10000;
		height: 100%;
	}
	header {
		width: 100%;
	}
	.resp {
		width: 100%;
		height: 72px;
		background: #E55155;
		overflow: hidden;
		z-index: 10000000000000000 !important;
		position: relative;
	}
	/* config logo header-mobile */
	.logo-mobile {
        width: 50%;
        position: relative;
        float: right;
        padding-right: 60px;
	}
	.logo-mobile img {
		width: 120px;
		height: 50px;
        padding-top: 10px;

	}
	/* icon burger */
	.icon-burger {
		width: 50%;
		height: 100%;
		position: absolute;
		margin-left: 15px;
		cursor: pointer;
        display: flex;
        justify-content: center;
        flex-flow: column;
	}
	.string {
		width: 20px;
		height: 3px;
		background: #fff;
	}
	.string1 {
		width: 20px;
		height: 3px;
		background: #fff;
		margin-top: 3px;
	}
	.string2 {
		width: 20px;
		height: 3px;
		background: #fff;
		margin-top: 3px;
	}
	/* button reservation */
	.red-btn {
		width: 90%;
		margin: 0 auto;
		background: #E55155;
		padding: 10px;
		border-radius: 3px;
		cursor: pointer;
	}
	/* Texte */
	.content-height {
		width: 100%;
		height: 528px;
		background-image: url(../img/old_streetart.jpeg);
		background-position: cover;
	}
	.content {
		width: 100%;
		padding-top: 70px;
	}
    .content-text{
        width: 80%;
        margin: 0 auto;
    }
	.wrapper {
		width: 80%;
		margin: 0 auto;
		position: relative;
	}
	/* menu burger */
	#menu-hamburger {
		background: #fff;
		width: 80%;
		height: 100%;
		position: absolute;
		overflow: scroll;
		flex-wrap: wrap;
		z-index: 1000000000000000000;
	}

    .content-burger{
        display: flex;
        flex-flow: column wrap;
    }

    .content-burger ul{
        display: flex;
    }
    .content-burger ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        cursor: pointer;
    }

    .content-burger ul:hover{
        color: #E55155;
        -webkit-transition : 0.2s;
    }
	/* icone de fermeture du burger */
	.cross {
		width: 100%;
		height: 20px;
		background: #E55155;
		padding-top: 20px;
		cursor: pointer;
	}
	.cross i{
        color: #fff;
		height: 3px;
		width: 20px;
		margin-left: 90%;
	}
	.cross-line-t {
		background: transparent;
		width: 20px;
		height: 20px;
		margin-left: 90%;
	}
	/* logo burger */
	.logo-mobile-burger {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 72px;
		background: #E55155;
		width: 100%;
		padding-bottom: 40px;
	}
	.logo-mobile-burger img {
		width: 90px;
		height: 80px;
        padding-right: 16px;
	}
	.logo-mobile-burger h4 {
		padding-right: 10px;
	}
    .footer-burger{
        background: #E55155;
        height: 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-burger p{
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
}
