.back_arrow img {
    width: 3%;
}

.back_arrow {
    margin-top: 25px;
    margin-left: 25px;
}

.form {
    width: 40%;
    margin: 30px auto;
    height: 580px;
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    top: 13px;
}

.tt {
    padding-top: 24px;
    padding-left: 25px;
    font-size: 25px;
}

::-webkit-input-placeholder {
    font-size: 15px;
}

input {
    border-bottom: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    width: 80%;
    margin: 10px 30px;
}

.mail {
    border-bottom: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    width: 80%;
    margin: 10px 30px;
}

input:hover {
    border-bottom: 2px solid #009688;
}

button {
    width: 163px;
    height: 43px;
    border-radius: 5px;
    background-color: #E55458;
    color: white;
    font-size: 17px;
    border: none;
    letter-spacing: 2px;
    margin-left: 172px;
    margin-top: 10px;
}

form p {
    text-align: center;
    margin: 30px 25px 0 25px;
    color: #95989A;
}

.exp {
    width: 90%;
    margin: 0 auto;
}

li:hover ul.hoverMenu {
    display: block
}

@media screen and (max-width: 750px) {
    .exp {
        display: none;
    }
    .form {
        width: 80%;
        margin: 0 auto;
    }
    button {
        width: 163px;
        height: 43px;
        border-radius: 5px;
        background-color: #E55458;
        color: white;
        font-size: 17px;
        border: none;
        letter-spacing: 2px;
        margin-left: 92px;
        margin-top: 10px;
    }
    form p {
        text-align: center;
        margin: 30px 25px 0 25px;
        color: #95989A;
        font-size: 12px
    }
}