hr{
    width: 90%;
    margin: 0 auto;
}


/* footer */

.footer{
    width: 100%;
    height: 200px;
    background: #E55155;
}

.footer-header{
    width: 90%;
    margin: 0 auto;
    height: 20%;
    display: flex;
}

.footer-logo{
    width: 50%;
    display: flex;
    align-items: center;
}

.footer-logo img{
    width: 35px;
    height: 35px;
}

.footer-logo p{
    margin-left: 16px;
    cursor: pointer;
}

.register p{
   padding-right: 25px;
}
.content-footer{
    width: 90%;
    margin: 0 auto;
    height: 72.5%;
    display: flex;
}

.sub-content-footer-first{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-top: 5px;
}

.sub-content-footer-first p{
    padding-bottom: 10px;
    cursor: pointer;
}

.sub-content-footer-second{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-top: 5px;
}
.sub-content-footer-second p{
    padding-bottom: 10px;
    cursor: pointer;
}

.sub-content-footer-third{
    width: 20%;
    height: 100%;
    padding-top: 5px;
    display: flex;
    flex-flow: column wrap;
}

.logo-content-footer{
    width: 55%;
    height: 20%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.logo-content-footer img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.text-content-footer{
    width: 80%;
    height: 70%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 5px;
}

.text-content-footer p{
    padding-bottom: 10px;
    cursor: pointer;
}
