/*réglage header*/

.sub-header {
	display: flex;
	align-items: flex-start;
	align-content: center;
	justify-content: flex-start;
	flex-wrap: wrap;
    padding-bottom: 48px;
}


/* réglage sous block */

.sub-container {
    display: flex;
    margin-left: 56px;
}

.sub-container div {
    display: flex;
    justify-content: space-between;
}


/* réglage cartes et images */

.Presta-Card img {
    width: 100%;
}

.box-shadow {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.Presta-Card {
    width: calc(auto);
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}


/* réglage texte */

.top {
    display: flex;
		align-items: flex-start;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;
}

.red-star {
    margin-left: 24px;
}

@media screen and (max-width: 1140px) {
  .red-star {
    margin-left: 0px;
  }
}

.red-font {
    color: #e55155;
}

.pRed14 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #e55155;
}

.line {
	display: flex;
}

/* #########suppression des deux cartes apres le reponsive ######### */

@media screen and (max-width: 750px) {
  .shadow {
    display: none;
  }
}


