.contain {
    width: 100%;
    height: 700px;
}

.form {
    width: 411px;
    height: 564px;
    box-shadow: 1px 1px 12px #555;
    position: absolute;
    background-color: white;
    top: 60px;
    left: 872px;
}

.tt {
    padding-top: 24px;
    padding-left: 25px;
    font-size: 25px;
}

::-webkit-input-placeholder {
    font-size: 15px;
}

input {
    border-bottom: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    width: 154px;
    margin: 20px 0px 9px 25px;
}

.mail {
    border-bottom: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    width: 339px;
    margin: 10px 0px 9px 25px;
}

input:hover {
    border-bottom: 2px solid #009688;
}

button {
    width: 163px;
    height: 43px;
    margin: 14px 0 0 203px;
    border-radius: 5px;
    background-color: #E55458;
    color: white;
    font-size: 17px;
    border: none;
    letter-spacing: 2px;
}

form p {
    text-align: center;
    margin-top: 30px;
    color: #95989A;
}

.exp {
    width: 500px;
    margin: 59px 0 0 108px;
}

.exp h3 {
    margin-bottom: 30px;
}

.exp h2 {
    margin-bottom: 30px;
    color: #E55155;
}

.exp p {
    margin-bottom: 30px;
    font-size: 17px;
    width: 600px;
}

li:hover ul.hoverMenu {
    display: block
}

@media screen and (max-width: 750px) {
    .exp {
        visibility: hidden;
    }
    .form {
        position: absolute;
        top: 60px;
        left: 150px;
    }
}