/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header menu navigation responsive web */

.resp{
    height: 72px;
    background: #E55155;
    display: flex;
    overflow: hidden;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.logo h3{
    margin-left: 24px;
    cursor: pointer;
}

.navi{
    display: flex;
    justify-content: flex-end;
}

.navi h4{
    margin: 24px;
    cursor: pointer;
}

/* image */

.content{
    height: 528px;
    background: lightgrey;
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
}

/* Texte */

.stripe h2{
    padding-bottom: 20px;
}

.stripe h4{
    padding-top: 20px;
}

@media all and (max-width: 750px){
.red-btn{
    background: #E55155;
    margin-top: 50px;
    padding: 16px;
    cursor: pointer;
    border-radius: 3px;
    }  
}

/* barre de reservation */

#search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin-top: 10px;
}

/* choix animation */

.check-in{
    display: flex;
    border: solid #E55155 4px;
    padding: 16px;
    cursor: pointer;
}

.check-in img{
    padding-left: 30px;
}

.tog{
    position: absolute;
    bottom: 100px;
    cursor: pointer;
    background: #E55155;
    padding: 16px;
    border-radius: 5px;
}

/* calendar */

.bordure{
    display: flex;
    padding-left: 24px;
    border: solid #E55155 4px;
    padding: 16px;
}

.bordure img{
    padding-left: 30px;
}

#datepicker{
    cursor: pointer;
    margin-left: 10px;
}

/* boutton resa */

.check-out{
    border: solid #E55155 4px;
    display: flex;
    padding: 16px;
    cursor: pointer;
    margin-left: 10px;
}

/* Shutter Out Horizontal */

.hvr-shutter-out-horizontal {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E55155;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media all and (min-width: 750px){
    .red-btn{
        display: none;
    }
    
    .logo-resp{
        display: none;
    }
    
    .burger-menu{
        display: none;
    }
    
    .barre{
        display: none;
    }
    
    
}


@media all and (max-width:750px){

    /* élément qui disparaissent */

    #search-box{
        display: none;
    }
    
    
    .nav-web{
        display: none;
    }
    
    .navi{
        display: none;
    }
    
    .logo{
        display: none;
    }

    /* menu burger et barre de nav mobile */
    
    .nav-resp{
    height: 72px;
    display: flex;
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    }
    
    .logo-resp{
        margin-top: 3px;
        display: flex;
        justify-content: center;
    }
    
    .logo-resp img{
        width: 64px;
        height: 64px;
    }
    
    .barre{
    cursor: pointer;
    width: 100%;
    height: 100%;
        position: fixed;
    }
    .burger-menu{
        background: #E55155;
        min-height: 100%;
        max-height: 100%;
        width: 80%;
        display: flex;
        flex-flow: column wrap;
    }
    
    .burger-header{
        height: 100px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .burger-header h3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .burger-arrow{
        background-image: url(../img/icons/ic_arrow_back_black_24dp_1x.png) no-repeat;
        width: 24px;
        height: 24px;
        background-position: cover;
        background-size: 100% 100%;
    }
    
    
    .burger-silver-logo{
        width: 64px;
        height: 64px;
    }
    
    .burger-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .burger-body h4{
        margin-top: 40px;
    }
    
    .active{
        position: absolute;
        background: rgba(0,0,0,0.3);
    } 
}
